

{if $flashes}
	{foreach $flashes as $flash}
		<div class="alert alert-{$flash->type}" role="{$flash->type}">{$flash->message}</div>
	{/foreach}
{/if}


{form textForm}
	
	<div class="row" style="margin-bottom:10px;">
		<div class="col-md-10"><select n:name="history" class="form-control"></select></div>
		<div class="col-md-2"><input n:name="show" class="btn btn-default"></div>
	</div>
	<div class="row">
		<div class="col-md-12">{input body}</div>
	</div>
	<div class="row" style="margin-bottom:10px;">
		<div class="col-md-12">
			<label for="ver-status">Stav této verze:</label>
			<select n:name="status" id="ver-status" class="form-control"></select>
			<span class="help-block">{$form[status]->getOption('description')}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<input n:name="save" class="btn btn-default">
		</div>
	</div>
{/form}
